* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#widget {
  background: rgba(38, 55, 76, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.widget {
  width: 100%;

  &__wrapper {
    height: 100%;
  }

  &__hero {
    padding: 2.3rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hero-menu {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }

  &__hero-menu-logo {
    width: 10.598rem;
    height: 2.6rem;
  }

  &__hero-menu-cross {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }

  &__progress {
    width: 100%;
    position: relative;
    height: 0.1rem;
  }

  &__progress-bar {
    position: absolute;
    top: -0.1rem;
    left: 0;
    height: 0.2rem;
    width: 20%;
    border-radius: 2rem;
  }

  &__body {
    height: calc(100% - 7.3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__information {
    padding: 2.4rem 2.4rem 0 2.4rem;
    text-align: center;
  }

  &__coin {
    margin-top: 2.5rem;
  }

  &__box-item {
    cursor: pointer;

    &:last-child {
      .widget__box-item-decor {
        display: block;
      }
    }

    &-decor {
      &:last-child {
        display: none;
      }
    }
  }

  &__box-item-wrapper {
    padding: 1.6rem 2.4rem;
  }

  &__box-item-decor {
    width: 100%;
    height: 0.1rem;
    margin: 0;
    border: none;
    display: block;
  }

  &__box-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box-item-name {
    display: flex;
    align-items: center;
  }

  &__box-item-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.8rem;
  }

  &__box-item-convert {
    display: flex;
    align-items: center;
  }

  &__box-item-arrow {
    margin-left: 0.8rem;
  }

  &__more-coins {
    margin-top: 0;
    overflow-y: auto;
    height: 100%;
    margin-bottom: 4.8rem;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.2rem;
      background-color: #DBE1EA;
    }
  }

  &__menu-item {
    text-decoration: none;
  }

  &__link-wrapper {
    margin-top: 2.4rem;
    display: flex;
    justify-content: center;
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link-icon {
    margin-top: 0.7rem;
    width: 1.108rem;
    height: 0.684rem;
  }

  &__terms {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 2.4rem 2.4rem 2.4rem;
  }

  &__email {
    margin: 5.2rem 0 7.2rem 0;
  }

  &__email-icon {
    margin-bottom: 2.4rem;
    width: 11.2rem;
    height: 11.2rem;
  }

  &__email-text {
    margin-bottom: 2.4rem;
  }

  &__input {
    width: 100%;
    height: 5.6rem;
    border-radius: 4px;
    outline: none;
    padding: 0 2.1rem;
    border: none;
  }

  &__errors {
    text-align: left;
    padding-left: 2.1rem;
    font-size: 1.2rem;

    p {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem 2.4rem 2.4rem;
  }

  &__button {
    width: calc(100% / 2 - 1.175rem);
    height: 5.6rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__timer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__timer-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.8rem;
  }

  &__qr {
    margin: 2.4rem auto 0 auto;
    width: 15.5rem;
    height: 15.5rem;
    border-radius: 0.685714rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__qr-icon {
    width: 13.555rem;
    height: 13.555rem;
  }

  &__copy-wrapper {
    margin-top: 2.4rem;
  }

  &__copy {
    text-align: left;
    margin-bottom: 2.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__copy-value {
    margin-top: 0.8rem;
    word-break: break-word;
  }

  &__copy-value-icon {
    vertical-align: middle;
    margin-left: 0.8rem;
  }

  &__confirmation-icon {
    margin-top: 2.4rem;
    width: 11.2rem;
    height: 11.2rem;
  }

  &__amount {
    margin-top: 2.4rem;
  }

  &__amount-value {
    margin: 0.4rem 0;
    font-size: 3rem;
  }


  &__footer {
    padding: 0 2.4rem 2.4rem 2.4rem;
  }

  &__footer-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer-item-title {
    display: block;
    margin-right: 1rem;
    white-space: nowrap;
  }

  &__footer-item-value {
    word-break: break-all;
  }


  @media (min-width: 1000px) {
    box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.06), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.04), 0 0 0.1rem rgba(0, 0, 0, 0.04);
    margin-top: 16.2rem;
    width: 41.6rem;
    height: 57.6rem;
    border-radius: 1.6rem;

    &__button {
      width: calc(100% / 2 - 1rem);
    }

    &__input {
      padding: 0 2.4rem;
    }
    &__errors {
      padding-left: 2.4rem;
    }
  }
}

.text--smallest {
  font-size: 1.3rem;
}

.text--small {
  font-size: 1.4rem;
}

.text--medium {
  font-size: 2.1rem;
}

.text--big {
  font-size: 3.6rem;
}

.text--400 {
  font-weight: 400;
}

.text--600 {
  font-weight: 600;
}

.lh--100 {
  line-height: 100%;
}

.lh--130 {
  line-height: 130%;
}

.spacer--8 {
  margin-top: 0.8rem;
}
